@page "/interactive"
@*
    Interactive 3D js view
*@

    <style>
        .image-center {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 0;
            right: 0;
            height: 248px;
        }

        .iframe-full {
            border: none;
            width: 100%;
            height: 120%;
            margin-top: -110px;
            margin-bottom: 0px;
        }
    </style>

    <iframe class="iframe-full" src="https://sketchfab.com/models/0135f5871d1742499182d98c9218ed11/embed?autostart=1&amp;preload=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    @*<p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
        <a href="https://sketchfab.com/3d-models/bmw-s1000-rr-motorcycle-0135f5871d1742499182d98c9218ed11?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">BMW S1000 RR Motorcycle</a>
        by <a href="https://sketchfab.com/giovannielauffer?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">giovannielauffer</a>
        on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>*@
    
@*<iframe style="border:none;width:100%;height:100%;" src="https://playcanv.as/p/RqJJ9oU9/?overlay=false"></iframe>*@
@*<iframe style="border:none;width:100%;height:100%;" src="https://threejs.org/examples/webgl_loader_3mf_materials.html"></iframe>*@
@*<iframe style="border:none;width:100%;height:100%;" src="http://www.lai4d.com/lai4dwidget/lai4d_viewer.html?{{file}{artwork/paperairplane.txt}}"></iframe>*@
@*<iframe style="border:none;width:100%;height:100%;" src="https://openjscad.org/"></iframe>*@

@code {

}
