<style>
    .account-text {
        padding-left:16px; 
        margin-top: 16px; 
        float: right;
    }
</style>

<MatIcon height="48" width="48" Style="font-size: 72px;" Icon="account_circle"></MatIcon>
<span class="account-text">
    You're a new member here!
</span>

@code {

}
