@*
    Products view dialog
*@

<style>
    .demo-mat-blazor-theme-color-item {
        display: inline-flex;
        width: 36px;
        height: 36px;
        vertical-align: top;
        text-align: center;
        color: white;
        cursor: pointer;
        padding-right: 2px;
    }
</style>

<div style="padding-top:16px; padding-left:8px; display: inline-flex;">
    None right now
   
</div>

@code {

    
}
